ion-item {
  --background: #3880ff;
  --color: #fff;
}

.button-content-dashboard {
  --background: #3880ff;
}

h3 {
  margin-top: 0;
}
.device-icon {
  margin-left: 10px;
}
ion-row {
  margin: auto;
  text-align: center;
}
.OpenDeviceRow {
  width: 145px;
  text-align: center;
  margin: auto;
  display: block;
}

.button-contem {
  width: 100%;
}
