<ion-header>
  <ion-toolbar>
    <ion-title>calculation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  ><form #f="ngForm" (ngSubmit)="onSubmitForm(f)">
    <ion-list>
      <ion-item>
        <ion-label>Heure d'allumage</ion-label>
        <ion-datetime
          displayFormat="HH:mm"
          name="startTime"
          [(ngModel)]="appareil.startTime"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Heure d'extinction</ion-label>
        <ion-datetime
          displayFormat="HH:mm"
          name="endTime"
          [(ngModel)]="appareil.endTime"
        ></ion-datetime>
      </ion-item>
    </ion-list>
    <button
      type="button"
      ion-button
      full
      color="danger"
      (click)="onDeleteHours()"
    >
      Supprimer horaires
    </button>
    <button type="submit" ion-button full color="secondary">
      Enregistrer horaires
    </button>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col text-center>
      <ion-button (click)="closeModal()">Close Device</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
