<ion-header>
  <ion-toolbar text-center>
    <ion-title> Device {{ paramID }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="openModalMetric()" class="ButtonDevice">
          Lastest metric
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="openModalCommand()" class="ButtonDevice">
          Command
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="openModalCalculation()" class="ButtonDevice">
          Calculation
        </ion-button>
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <div style="justify-content: center; text-align: center">
    <ion-button (click)="closeModal()">Close Device</ion-button>
  </div>
</ion-footer>
