<ion-header>
  <ion-toolbar text-center>
    <ion-title> Device {{ paramID }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of listMetrics">
    <h5>{{ item.metric }}</h5>

    <div style="text-align: -webkit-center; width: 100%;">
      <ion-button disabled name="circle" class="firstCircle">
        <div class="secondCircle">
          <div class="tempCircle">{{ item.data }} °C</div>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col text-center>
      <ion-button (click)="closeModal()">Close metrics page</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
